<div class="row justify-content-center">
  <div class="col-3">
    <p class="fs-3 pt-5 pb-5 textBlue ">Détail application</p>
  </div>
</div>

<div class="row justify-content-around">
  <div class="col-3">
    <mat-card class="pb-0">
      <div class="row">
        <p>Application :</p>
      </div>
      <div class="row justify-content-around">

          <p class="fs-5 col-6 mt-3 textBlue"><b>Facebook</b></p>
      </div>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="pb-0">
      <div class="row">
        <p>Note Actuelle :</p>
      </div>
      <div class="row justify-content-around">

        <p class="fs-5 col-4 mt-3 textBlue "><b>4.7 </b>/ 5</p>
      </div>
    </mat-card>
  </div>


  <div class="col-3 pb-0">
    <mat-card class="pb-0">
      <div class="row">
        <p>Avis reçus :</p>
      </div>
      <div class="row justify-content-around">

        <p class="fs-5 col-4 mt-3 textBlue"><b>2461823</b></p>
      </div>
    </mat-card>
  </div>

  <div class="col-3 pb-0">
    <mat-card>
      <div class="row">
        <p>OS :</p>
      </div>
      <div class="row justify-content-center">

        <mat-icon class="icon mb-2 me-5">apple</mat-icon>
      </div>
    </mat-card>
  </div>
</div>

<app-graphe></app-graphe>
