<div class="row">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Nom Column -->
      <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef> Nom</th>
        <td mat-cell *matCellDef="let element"><a routerLink='/afficher/{{element.app_id}}' >{{element.app_nom}}</a></td>
      </ng-container>


      <!-- Symbol Column -->
      <ng-container matColumnDef="OS">
        <th mat-header-cell *matHeaderCellDef> OS</th>

        <td mat-cell *matCellDef="let element">
            <mat-icon class="icon" *ngIf="element.os ==='android'">android</mat-icon>
            <mat-icon  *ngIf="element.os ==='iOS'">apple</mat-icon>

        </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">


          <button mat-flat-button color="primary" (click)="redirectionModif(element.app_id)"> Modifier </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

