<div class="row justify-content-center">
  <div class="col-2">
    <h1 class="p-4  textBlue"> APPLICATIONS </h1>
  </div>
</div>
<div class="row align-content-around mb-5 mt-5">
  <div class="col-3 fw-bold fs-3">
    <label> Filtrer par :</label>
  </div>
  <div class="col-3">
    <mat-form-field appearance="fill">
      <mat-label>Sélectionnez une application</mat-label>
      <mat-select (selectionChange)="selectedApp( $event.value)">
        <mat-option *ngFor= "let data of datas" value="{{ data.id}}" > {{ data.nom }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <div class="col-3">

      <mat-form-field appearance="fill">
        <mat-label>Choix OS</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

</div>

  <div class="col-3">

    <mat-form-field appearance="fill">
      <mat-label>Note </mat-label>
      <mat-select (selectionChange)="selectedNote( $event.value)" >
        <mat-option value="décroissant">Décroissant</mat-option>
        <mat-option value="croissant">Croissant</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


</div>
<app-table [donnes]= "id_app" [donnes2] = "ordre" ></app-table>
