<ng-container *ngIf=" donnes != undefined ">
<div class="row mt-5 justify-content-center">
  <section class="col-4">
    <div class="row ">
      <div class="col-3 w-auto">
        <button mat-flat-button color="primary" (click)="change('week')">1 Semaine</button>
      </div>
      <div class="col-3 w-auto">
        <button mat-flat-button color="primary" (click)="change('month')">1 Mois</button>
      </div>
      <div class="col-3 w-auto">
        <button mat-flat-button color="primary" (click)="change('threeMonth')">3 Mois</button>
      </div>
    </div>
  </section>
</div>
</ng-container>
<div class="row mt-5">
  <div class="col">
    <canvas id="my_first_chart"></canvas>
  </div>
</div>

<div class="row mt-5">

  <div class="col">
    <canvas id="my_second_chart"></canvas>
  </div>
</div>
